services:
  mongo:
    image: mongo:8.2
    container_name: task-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  server:
    build:
      context: .
    container_name: task_manager_backend
    restart: always
    environment:
      - NODE_ENV=development
      - MONGO_URI=${MONGO_URI}
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mongo
    volumes:
      - /usr/src/app/node_modules

volumes:
  mongo-data: