.hero_container {
    width: 100%;
    height: 600px;
    background-image: url('https://i.pinimg.com/736x/e3/9c/27/e39c27b0aad5da8d0c9790d95fb98c7f.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    position: relative;
    margin: 0 auto;
}